<!DOCTYPE html>
<html>
<head>
	<title></title>
	<link rel="stylesheet" href="http://localhost/php-login/assets/css/style_dashboard.css">
	<meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>
    <header>
        <div class="content_area">
            Bem vindo {{name_user}},

            <a href="http://localhost/php-login/dashboard/logout">Sair</a>
        </div>
        
    </header>

    <section class="box_dashboard">
        <div class="content_area">
            <h1>DASHBOARD</h1>
        </div>
    </section>
</body>
</html>