<!DOCTYPE html>
<html lang="pt_br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/css2?family=Anton&family=Assistant:wght@300&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="http://localhost/php-login/assets/css/style.css">
    <script src="https://kit.fontawesome.com/463d1c04d0.js" crossorigin="anonymous"></script>
    <link rel="shortcut icon" href="img/favicon.ico">
    <title>Faça Login</title>
</head>
<body>
    
<div class="box_login">
    <h1>FAÇA LOGIN!</h1>

    <form method="POST" action="http://localhost/php-login/login/check">
        <input type="text" name="email" placeholder="SEU E-MAIL">
        <input type="password" name="password" placeholder="SUA SENHA">

        <button class="btn-login">LOGAR</button>

        {% if error != '' %}
        <span class="msg_error"><i class="fas fa-window-close"></i>Tentativa Inválida!</span>
        {% endif %}
    </form>

</div>

</body>
</html>